<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajax-text-and-image {
		max-width:800px; margin: 20px auto; background: #FFF; padding: 0; line-height: 0;
	}
	.ajcol {
		width: 100%;
		/* float:left; */
	}
	font-family: 'arial black';
	/* .ajcol img {
		/* width: 100%; height: auto; */
	} */
	@media all and (max-width:30em) {
		.ajcol {
			width: 100%;
			float:none;
		}
	}
	</style>
	<!-- <div class="ajcol">
		<img src="assets/img/specs/mo.jpg"/>
	</div> -->
	<div class="ajcol" style="line-height: 1.5; "font-family: 'arial black', sans-serif;"">
		<div style="padding: 1em">
			<h3 style="text-align: center">5В020700- Переводческое дело </h3>
			<p><strong>Подготовка специалистов со знанием 2-х иностранных языков по направлениям:</strong></p>
					<ul>
					<li>Переводчик в социально-экономической сфере</li>
					<li>Устный перевод. Письменный перевод</li>
					</ul>
					<p><strong>Подготовка специалистов со знанием 2-х иностранных языков по дополнительному элективу:</strong></p>
					<ul>
					<li>Переводчик в сфере международно-экономических и правовых отношений</li>
					</ul>
					<p><strong>Основными задачами бакалавра переводческого дела являются:</strong></p>
					<ul>
					<li>письменный/полный и/или реферативный и устный (последовательный) перевод</li>
					<li>специалист, владеющий категориальным аппаратом, словарным запасом</li>
					<li>специалист для устного и письменного перевода в области международных отношений</li>
					<li>профессионал, способный осуществлять перевод официальных выступлений во время международных конференций, съездов, симпозиумов, встреч между главами государств и представителями МИДа</li>
					<li>переводчик-синхронист</li>
					</ul>
					<p><strong>Ты будешь специализироваться на знании:</strong></p>
					<ul>
					<li>практики речевого межкультурного общения, теории и практики перевода</li>
					<li>основ синхронного перевода</li>
					</ul>
					<p><strong>Ты можешь работать:</strong></p>
					<ul>
					<li>переводчиком во всех сферах деятельности, где необходимы услуги переводчика-референта, переводчика-гида, переводчика-синхрониста</li>
					<li><strong>Вы получаете уникальную возможность изучать иностранный язык в объеме 12-ти часов в неделю (1 и 2 курс), и 10 часов на старших курсах (3 и 4 курсы)</strong></li>
					<li><strong>Вас ждет второй иностранный язык по выбору со II-ого семестра</strong></li>
					</ul>
									<table style="margin-left: auto; margin-right: auto; width: 537.5px;" border="1">
									<tbody>
									<tr>
									<td style="text-align: center; width: 118px;">
									<p>абитуриент</p>
									</td>
									<td style="text-align: center; width: 163px;">
									<p>Сроки и форма обучения</p>
									</td>
									<td style="text-align: center; width: 78px;">
									<p>гранты</p>
									</td>
									<td style="text-align: center; width: 157.5px;">
									<p>Оплата за год</p>
									</td>
									</tr>
									<tr>
									<td style="text-align: center; width: 118px;">
									<p>После школы</p>
									</td>
									<td style="text-align: center; width: 163px;">
									<p>4 года/ очное</p>
									</td>
									<td style="text-align: center; width: 78px;">
									<p>есть</p>
									</td>
									<td style="text-align: center; width: 157.5px;">
									<p>450 000 тенге</p>
									</td>
									</tr>
									<tr>
									<td style="text-align: center; width: 118px;">
									<p>После колледжа</p>
									</td>
									<td style="text-align: center; width: 163px;">
									<p>3 года/ ускоренное очное</p>
									</td>
									<td style="text-align: center; width: 78px;">
									<p>нет</p>
									</td>
									<td style="text-align: center; width: 157.5px;">
									<p>480 000 тенге</p>
									</td>
									</tr>
									</tbody>
									</table>
<p style="text-align: center;">Подробную информацию вы можете получить в <strong>приемной комиссии</strong> с 09:00 до 18:00 в будние дни, по адресу ул. Муратбаева, 200 уг. ул. Курмангазы<br /> <br /> <strong>Есть вопросы? Позвоните нам прямо сейчас!<br /> +7 (727) 292-07-18 - Call Center<br /> +7 (727) 292-23-73 / +7 (727) 292-44-60</strong></p>
</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>
