<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajax-text-and-image {
		max-width:800px; margin: 20px auto; background: #FFF; padding: 0; line-height: 0;
	}
	.ajcol {
		width: 100%;
		/* float:left; */
	}
	font-family: 'arial black';
	/* .ajcol img {
		/* width: 100%; height: auto; */
	} */
	@media all and (max-width:30em) {
		.ajcol {
			width: 100%;
			float:none;
		}
	}
	</style>
	<!-- <div class="ajcol">
		<img src="assets/img/specs/mo.jpg"/>
	</div> -->
	<div class="ajcol" style="line-height: 1.5; "font-family: 'arial black', sans-serif;"">
		<div style="padding: 1em">
			<h3 style="text-align: center">5В020200- Международные отношения</h3>
					<p>Подготовка специалистов со знанием 2-х иностранных языков по профилям специализаций:<br />   • Специалист-аналитик по глобалистике и современным геополитическим процессам<br />   • Специалист по вопросам создания единой геостратегической системы безопасности и контроля (информационная, энергетическая безопасность, миграционного контроля)<br />• Консультант по проблемам международной и региональной безопасности<br />• Специалист по переговорному процессу<br />Основными задачами бакалавра гуманитарных знаний по специальности Международные отношения являются:<br />• анализ основных тенденций и современных международных процессов;<br />• анализ внешних и внутренних факторов в рамках изучаемой специализации;<br />• определение и обоснование геополитических интересов Казахстана в современном мире;<br />• изучение политических рисков в реализации международных экономических проектов;<br />• изучение и анализ проблем региональной и международной безопасности;<br />• прогнозирование и моделирование внешней политики государства в сфере международно-политических процессов;<br />• овладение навыками составления и оформления дипломатической документации, подготовки информационно-справочных и аналитических документов, навыками делопроизводства.</p>
					<p style="text-align: center;">Запомни:</p>
						<table style="margin-left: auto; margin-right: auto; width: 525.5px;" border="1">
						<tbody>
						<tr>
						<td style="width: 97px;">
						<p style="text-align: center;">абитуриент</p>
						</td>
						<td style="width: 221px; text-align: center;">
						<p>Сроки и форма обучения</p>
						</td>
						<td style="width: 75px; text-align: center;">
						<p>гранты</p>
						</td>
						<td style="width: 114.5px; text-align: center;">
						<p>Оплата за год</p>
						</td>
						</tr>
						<tr>
						<td style="width: 97px;">
						<p style="text-align: center;">После школы</p>
						</td>
						<td style="width: 221px; text-align: center;">
						<p>4 года/ очное</p>
						</td>
						<td style="width: 75px; text-align: center;">
						<p>есть</p>
						</td>
						<td style="width: 114.5px; text-align: center;">
						<p>550 000 тенге</p>
						</td>
						</tr>
						<tr>
						<td style="width: 97px;">
						<p style="text-align: center;">После колледжа</p>
						</td>
						<td style="width: 221px; text-align: center;">
						<p>3 года/ ускоренное очное</p>
						</td>
						<td style="width: 75px; text-align: center;">
						<p>нет</p>
						</td>
						<td style="width: 114.5px; text-align: center;">
						<p>550 000 тенге</p>
						</td>
						</tr>
						</tbody>
						</table>
<p style="text-align: center;">Подробную информацию вы можете получить в <strong>приемной комиссии</strong> с 09:00 до 18:00 в будние дни, по адресу ул. Муратбаева, 200 уг. ул. Курмангазы<br /> <br /> <strong>Есть вопросы? Позвоните нам прямо сейчас!<br /> +7 (727) 292-07-18 - Call Center<br /> +7 (727) 292-23-73 / +7 (727) 292-44-60</strong></p>
</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>
